.videoContainer {
  width: 100%; /* Defina a largura desejada */

  height: auto; /* A altura será ajustada automaticamente com base na largura */
  margin: 0 auto; /* Centraliza o componente na página, se necessário */
}

.Container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 2fr 7fr 3fr;
  width: 80%;
  margin: 50px auto;
  gap: 40px;
}

.desc {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
}
.ep {
  width: 100%;
}

.btn {
  background-color: #777;
  width: 38px;
  height: 25px;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 2px;
  color: #fff;
}

.poster {
  width: 100%;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.poster img {
  width: 100%;
  height: 350px;
}

.posterImage {
  border-radius: 0.5rem;
}
.desc h1 {
  color: gold;
}
.statusOn {
  text-transform: uppercase;
  color: green;
  font-weight: 600;
}
.statusOff {
  text-transform: uppercase;
  color: red;
  font-weight: 600;
}

.btnAudio {
  padding: 10px;
  margin: 5px;
  border-radius: 0.5rem;
  border: none;
  min-width: 100px;
  cursor: pointer;
}
.TypeAudioContainer {
  margin: 15px 0;
}
.ContainerFreeze h2 {
  color: red;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1600px) {
  .Container {
    width: 96%;
  }
}
@media (max-width: 1260px) {
  .Container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 10fr 1fr;
  }

  .videoContainer {
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  .desc {
    grid-row: 1/4;
    grid-column: 1;
  }

  .ep {
    grid-row: 2;
    grid-column: 2 / span 2;
  }
}

@media (max-width: 1000px) {
  .Container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    height: 1250px;
  }

  .videoContainer {
    grid-row: 1;
    grid-column: 1/4;
    width: 100%; /* Define a largura como 100% para ocupar a linha inteira na versão mobile */

    height: auto;
  }

  .desc {
    grid-row: 2;
    grid-column: 1/2;
    font-size: 0.8rem;
  }

  .ep {
    grid-row: 2;
    grid-column: 2/4;
    width: 290px;
  }
}

@media (max-width: 700px) {
  .Container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    height: 1400px;
    width: 100%;
  }

  .videoContainer {
    grid-row: 2;
    grid-column: 1;
    width: 100%; /* Ocupa a largura completa da linha */
    height: auto;
  }

  .desc {
    grid-row: 1;
    grid-column: 1;
    font-size: 0.8rem;
  }

  .ep {
    grid-row: 3;
    grid-column: 1;
    width: 90%; /* Ocupa a largura completa da linha */

    margin: 0 auto;
  }
}

@media (max-width: 300px) {
  .synopsis {
    width: 80%;
  }
}
